@import url('https://fonts.googleapis.com/css?family=Aguafina+Script|Maven+Pro:700&display=swap');
/* body section */
body{
    background: linear-gradient(180deg, rgba(41, 65, 4, 0.782), rgba(26, 0, 23, 0.4)),url('/images/bg-img.jpeg'); 
    background-position: center center;
    background-size:cover;
    max-width: 100%;
    height:100vh;
    background-repeat: no-repeat;
    font-family: 'Aguafina Script', cursive, sans-serif;
    
    color:hsl(0, 0%, 100%);
}


/* h1 sections */
h1{
    text-align:center;
    margin: 0.5em;
    padding:0.5em;
    font-size: 5rem;
    color:#008bf8;
    font-weight: bolder;
}
/* keys class */
.keys{
   display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    align-items:center; 
    transition:0.5s;      
   
}

/* key classes */
.key{
    border:4px solid #fe4e00;
    margin:auto;
    padding:0.7em;
    width:4em;
    height:auto;
    text-align:center;
   
}

/* when hovering over */
.key:hover{
    cursor:pointer;
    background-color: #8c0659;
  
  }
  /* keyboard letterz */
kbd{
    font-size:3.7rem;
    text-align:center;
    color:#1bec09;
    font-weight:bolder;
    

}
/* sounds section */
.sound{
    color:#aaff11;
    font-weight:bolder;
    font-size:1.5rem;
   
}

/* for screens with a max-width of 720px */
@media screen and (max-width:720px){
    body{
        background: linear-gradient(180deg, rgba(41, 65, 4, 0.782), rgba(26, 0, 23, 0.4)),url('/images/bg-img.jpeg'); 
        background-position: center center;
        background-size:cover;
        max-width: 100%;
        height:100vh;
        background-repeat: no-repeat;
        font-family: 'Aguafina Script', cursive, sans-serif;
        
    }
    h1{
        text-align:center;
        margin: 0.3em;
        padding:0.3em;
        font-size: 3rem;
        color:#008bf8;
        font-weight: bolder;
    }
    .keys{
       display:flex;
        flex-flow:row wrap;
        justify-content:space-around;
        align-items:center; 
        transition:0.5s;      
       
    }
    
    
    .key{
        border:4px solid #fe4e00;
        margin:auto;
        padding:0.7em;
        width:3em;
        height:auto;
        text-align:center;
        align-content: space-around;
       
    }
    
    .key:hover{
        cursor:pointer;
        background-color: #8c0659;
      
      }
    kbd{
        font-size:2.5rem;
        text-align:center;
        color:#1bec09;
        font-weight:bolder;
        
    
    }
    .sound{
        color:#aaff11;
        font-weight:bolder;
        font-size:1.2rem;
       
    }
}